{
    "debug": true,
    "package": "com.supercell.clashroyale",
    "key": "72f1a4a4c48e44da0c42310f800e96624e6dc6a641a9d41c3b5039d8dfadc27e",
    "url": "game.clashroyaleapp.com",
    "keystore": {
        "storepass": "teststorepass",
        "key": {
            "alias": "testalias",
            "keypass": "testkeypass",
            "dname": {
                "cn": "testcn",
                "ou": "testou",
                "o": "testo",
                "l": "testl",
                "s": "tests",
                "c": "testc"
            }
        }
    },
    "paths": {
        "apktool": "",
        "dd": "/bin/dd",
        "keytool": "/usr/bin/keytool",
        "jarsigner": "/usr/bin/jarsigner",
        "zipalign": ""
    },
    "versions": {
        "1.5.0": {
            "key": "bbdba8653396d1df84efaea923ecd150d15eb526a46a6c39b53dac974fff3829",
            "arm": {
                "md5": "f99a1e9b2693c12d6d14b90f693790cc",
                "key-offset": "4145180",
                "url-offset": "3381192"
            },
            "x86": {
                "md5": "95c2c8b6c946459d799fe1037f0fbd0f",
                "key-offset": "6029340",
                "url-offset": "4551145"
            }
        },
        "1.6.0": {
            "key": "e330c7916ae0a66f3a90eae97a863ee00ac1dcad058877b1eecfc8fe91c93532",
            "arm": {
                "md5": "af0261082ea75831e817f2154ee3653b",
                "key-offset": "3948580",
                "url-offset": "3190983"
            },
            "x86": {
                "md5": "cd77c8f927f24dcc5fe54d12823e1d55",
                "key-offset": "5750820",
                "url-offset": "4304848"
            }
        },
        "1.7.0": {
          "key": "0f9fff6d583023c5c739c053581c994dbe37789900ffda312fc97edfd091945f",
          "arm": {
            "md5": "22295cc360c46a9f728701a18535b982",
            "key-offset": "4063268",
            "url-offset": "3295796"
          },
          "x86": {
            "md5": "fd18e8531ead172f147939bab481b3c6",
            "key-offset": "5931044",
            "url-offset": "4452609"
          }
        }
    }
}
